---
# tasks file for virtualbox

- name: 'Centos : Add VirtualBox repo keys'
  rpm_key:
    key: 'https://www.virtualbox.org/download/oracle_vbox.asc'
    fingerprint: '7B0FAB3A13B907435925D9C954422A4B98AB5139'
    state: 'present'
  loop: '{{ _rpm_key }}'
  register: result
  until: result is succeeded

- name: 'Centos : Add VirtualBox repo'
  yum_repository:
    file: 'virtualbox'
    name: 'virtualbox'
    description: 'Oracle Linux / RHEL / CentOS-$releasever / $basearch - VirtualBox'
    baseurl: '{{ virtualbox_repository }}/rpm/el/$releasever/$basearch'
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: 'https://www.virtualbox.org/download/oracle_vbox.asc'
    state: 'present'
